---
import Overview from "../../layouts/Overview.astro";
import { Section } from "../../components/Section";
---

<Overview
    title="Ai Spell - Chat With Ai like BOSS"
    description=" you can chat with ai, elpore other's experience about how to chat with AI,if you have any problem"
    imgSrc={["/assets/images/screen1.png","/assets/images/screen2.png","/assets/images/screen3.png","/assets/images/screen4.png"]}
>
    <Section>
        <!-- <PostContent content={props.frontmatter}>{props.children}</PostContent> -->
    </Section>
    <!-- <BlogPost frontmatter={content}> -->
    <!-- <slot></slot> -->
    <!-- </BlogPost> -->
</Overview>
